.page-content {
    transform-style: preserve-3d;
    transform: perspective(800px);
}

ul {
    list-style-type: none;
}

html,body{
   height:100%;
    font-size:24px;
}

a {
 border-bottom: none;
}

.carousel,.item{
   height:100%;
 }
.carousel-inner{
    height:100%;
}

.carousel-indicators{
    
}


.container {
    width: 100%;
}

.language-nav {
    margin-right: 0px;
}

.row {
    max-width: none;
}

.service-bar {
    background-color: #f4f4f4;
    font-size: 13px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: right
}

.clearfix {
    position: relative;
}

.tum {
    position: absolute;
    right: 0px;
    top: 0px;
}

.clearfix ul {
    position: relative;
    top: 1px;
    padding: 0;
    margin: 0;
}

.clearfix ul li, .clearfix ul li a  {
    font-size: 13px;
    line-height: 14px;
    color: #3070b3;
    text-decoration: none;
}

#nav_old{
    height: 60px;
    position: absolute;
    top:0px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,0.8);
    color: white;
}

.oNav {
    margin-top: -8px;
    height: 52.4px;
    display: flex;
    align-items: center;   
}
.nav{
    height: 37px;
    margin: auto 22.5px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
}


.nav a {
    display: inline-block;
    height: 37px;
    line-height: 35px;
    min-width: 367px;
    padding-right: 50px;
    text-transform: uppercase;
}

.selected{
    font-size: 20px;
    border-bottom: solid #3070b3;
    border-bottom-width: 3px;
}

.breadCrumb {
    font-size: 11px;
    line-height: 1em;
    overflow: hidden;
    margin: 3px 22.5px;
}

.breadCrumb ul {
    margin: auto;
}

.breadCrumb ul li {
    float: left;
    margin-right: 5.5px;
}

/**LEFT NAV**/

.leftNav{
    position: absolute;
    top: 211.6px;
    left: 0px;
    margin-top: 25px;
    margin-left: 42.5px;
}

.leftNav_list{
    margin: 0px;
    width: 283.2px;
    word-wrap: break-word;
    background-color: #e6e6e6;
    padding-bottom: 9px;
    padding-top: 6px;
}

.leftNav_link{
    color: #333;
    display: block;
    font-size: 14px;
    line-height: 1.2em;
    padding: 7px 10px 6px 12px;
    position: relative;
    transition: background-color 0.15s ease-in;
}

.leftNav_selected{
    border-left: 3px solid #3070b3;
    padding-left: 9px;
    font-weight: bold;
}

.leftNav_submenu{
    margin: inherit;
    background-color: #f5f5f5;
    margin-bottom: 4px;
    padding-bottom: 4px;
    padding-top: 8px;
}

.leftNav_submenu_2{
    margin: inherit;
    background-color: #fff;
}

.sub::after {
    background-image: url(../Images/icon/nav-plus.png);
    content: "";
    display: block;
    height: 7px;
    margin-top: -4px;
    position: absolute;
    right: 5px;
    top: 50%;
    width: 7px
}

.sub_active {
    font-weight:normal;
}
.sub_active::after {
    background-image: url(../Images/icon/nav-minus.png);
}

/**PAGE CONTENT**/
.innerContent, .innerContent_S {
    position: absolute;
    left: 325.7px;
    right: 0px;
    top: 211.6px;
    bottom: 0px;
    margin-top: 25px;
    margin-left: 42.5px;
    margin-right: 42.5px;
    margin-bottom: 25px;
}

.innerContent_S {
    top: 180px;
    left: 0px;
}

.screenTitle{
   position: absolute;
    height: 0px;
    left: 0;
    right: 0;
    line-height: 1;
}

#mainTitle{
    font-size: 30px;
    color: black; 
}

#subTitle {
    font-size: 24px;
    color: #737373;
    line-height: 1.75;
}

.cardGroup{
   position: absolute;
    top:108px;
    bottom: 260px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.cardEle{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: red;
}

.cardEle div{
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2px;

}

#undo{
    position: absolute;
    font-size: 90px;
    bottom:57px;
    left: 285px;
}

#undo span{
    font-size: 24px;
    position: relative;
    top:-20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}


#viewAll{
    width:180px;
    height:90px;
    z-index: 1000;
    position: absolute;
    bottom: 57px;
    right: 237px;
    display: none;
    justify-content: space-around;
    align-items: center;
    border: 1px solid transparent;    
}

#viewAll2{
    z-index: 1000;
    position: absolute;
    text-align: center;
    bottom: 60px;
    right: 237px;
}

#viewAll2 span{
    font-size: 24px;
    position: relative;
    top:-17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/**LIST PROJECTS**/
/*Menu*/
#menuList{
   position: absolute;
    top:60px;
    bottom: 0px;
    left: 67%;
    right: 0;
    /**line-height: 84px;**/
    padding: 60px;
    background: white;
    color: black; 
}

.menuTitle{
    margin-bottom: 60px;
    font-size: 72px;
    line-height: 1;
}

.menuEle{
    margin: 48px 0px;
    font-size: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}


/*Project*/
#pDiv{
   position: absolute;
    top:60px;
    bottom: 0px;
    left: 0;
    right: 33%;
    /**line-height: 84px;**/
    padding: 40px;
    color: black; 
}

#pName{
    font-size: 36px;
    line-height: 1;
}

#rName{
    font-size: 30px;
    line-height: 1;
    margin-bottom: 40px;
}

#pTitle, #rTitle{
    font-size: 24px;
    line-height: 1;;
}

#rTitle{
    margin-bottom: 30px;
}


#pDescription{
    margin-top: 40px;
}

#pDescription p {
    text-align: justify;
}

#p2 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
#p2 div {
    width: 100%;
}

#pLeader{
    margin-bottom: 20px;
}

.pSub {
    display: inline-block;
    width: 120px;
    font-weight: bold;

}

#pClass{
    margin-top: 40px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

#pClass span {
    font-weight: bold;
}

#pClass ul{
    width: 100%;
    margin: 0px;
    list-style: none;
}


#rClass{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#rClass span {
    font-weight: bold;
}


#rClass ul{
    margin: 10px 0px;
    width: 100%;
    list-style: none;
}




/**NEWS**/
.newsFeed, .teamFeed, .rFeed, .sFeed, .mFeed, .pFeed, .oFeed, .spFeed{
    overflow: auto;
   position: absolute;
    top:108px;
    bottom: 42.5px;
    left: 0;
    right: 0;
}

.newsFeed figure {
    width: auto;
}

.newsFeed ul li {
    margin-right: 25px;
    margin-bottom: 30px;
}

.newsFeed .bodytext {
    text-align: justify;
    width: 70%;
}

.newsFeed footer div {
    margin-top: 25px;
}

.newsFeed img {
    width: 360px;
    height: auto;
}
/**OFFERS**/
.oFeed ul {
    padding-right: 20px;
}
.oFeed ul li {
    margin-bottom: 25px;
}

.oFeed p {
    text-align: justify;
}

/**COURSES**/
.courseList{
   position: absolute;
    top:108px;
    bottom: 55px;
    left: 0;
    right: 734px;
}

.coursePanel, .coursePanel_DE{
    background-color: #3070b3;
    color: white;
    position: absolute;
    top:108px;
    bottom: 55px;
    right: 0;
    width: 674px;
    height: inherit;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;

    
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(109%,0,0);
    overflow: auto;
}

.coursePanel.on{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.coursePanel_DE.on{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.item-content{
    min-height: 50px;
    font-size: 20px;
}

.item-link{
    font-size: 24px;
}

.cName{
    font-size: 35px;
}

.cDescription{
    text-align: justify;
    margin-bottom: 30px;
}

.cInfo li{
    margin-bottom: 35px;
    line-height: 1.4;
}

/**TEAM**/

#teamDiv{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 840px;
}

#leaderDiv{
    position: absolute;
    top: 0px;
    width: 669.3px;
    right: 0px;
    padding: 0px 0px 0px 42.5px;
}

.lTitle{
    font-size: 27px;
    color: #4c4c4c;
    text-transform:inherit;
    line-height: 1.5;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 20px;
}

#leaderDiv img{
    height: 300px;
    width: auto;
}

#leaderDiv ul{
    position: absolute;
    top: 60px;
    left: 302.5px;
    right: 0px;
    bottom: 360px;
    margin: auto;
    line-height: 1.5;
}

.lCat{
    display: inline-block;
    min-width: 110px;
}

.lCat2{
    margin-bottom: 25px;
}

#staffDiv{
    position: absolute;
    bottom: 34.4px;
    width: 669.3px;
    right: 0px;
    padding: 0px 0px 0px 42.5px;
}

#lName, .rName, .sName, .mName{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}

#lName span, .rName span {
    border-bottom: 1px solid #777;
    padding-bottom: 1px;
}

#lStaff{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lCard{
    height: 65px;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    background: #e6e6e6;
    color: black;
}

/**RESEARCHERS**/
.rFeed {
    overflow:inherit;
    top: 85px;
    bottom: 17.5px;
    left: 25px;
    right: 40px;    
}

.your-class,.slick-list,.slick-track{
    height: 100%;
}

.slick-list{
    margin-left: 15px;
}

.slick-slide{
    margin: 0px 17.5px;
}

.slick-arrow::before{
    color: black;
    font-size: 40px;
}
.rCard{
    position: relative;
    width: 450px;
    height: 99%;
    color: black;
}

.rCard img{
    height: auto;
    width: 240px;
}

.rImgDiv{
    margin: 42.5px auto;
    height: 300px;
    width: 240px;
    overflow: hidden;
}

.rCard ul{
    position: absolute;
    top: 380px;
    bottom: 360px;
    left: 40px;
    right: 40px;
    margin: auto;
    line-height: 1.5;
}

.rName, .sName{
    text-align: center;
}

.rCat{
    display: inline-block;
    min-width: 90px;
}

.rCat2{
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

/**STUDENTS**/
.sFeed {
    overflow:inherit;
    top: 105px;
    bottom: 77.5px;
    left: 25px;
    right: 40px;    
}

.sName {
    margin-bottom: 40px;
}

/**TEAM MEMBER**/
.mName {
    margin-bottom: 42.5px;
}
.mFeed {
    display: flex;
    top: 85px;
    left: 0;
    right: auto;
}


.mImg {
    display: block;
    height: 420px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42.5px;
}

#mInfo {
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 360px;
    line-height: 1.5;
    margin: 0px;
    margin-left: 21.25px;
    min-width: 375px;
}

#mLeft{
    padding-right: 63.75px;
    border-right: 1px solid #b3b3b3;
}

#mRight{
    padding-left: 63.75px;
    overflow: auto;    
}

.mItem{
    margin-bottom: 40px;
}

.mItem ul{
    list-style-position: outside;
}

.mItem ul li {
    padding-left: 215px;
    text-indent: -215px;
    line-height: 1.75;
}

.tResume ul li{
    margin-bottom: 12.5px;
    line-height: 1.5;
}

.mItem div {
    margin-bottom: 2.5px;
}

.mHidden{
    display: none;
}

.mCat{
    display: inline-block;
    width: 215px;
    text-indent: 0px;
}

.inList{
}


/** RESEARCH PROJECTS**/
/*Filter*/
.pFeed {
    display: flex;
    left: 0;
    bottom: 17.5px;
    right: auto;
    overflow: hidden;
}

.pLeft {
    width: 400px;
    min-width: 400px;
    padding: 30px 42.5px;
    background-color: #e37222;
    color: white;
    margin-right: 42.5px;
    
    transition: 
        transform 300ms ease-in-out,
        position 150ms,
        z-index 299ms 300ms;
    z-index: -1;
    
    visibility: hidden;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(-111%,0,0);
    position: absolute;
}

.pLeft.on{
    z-index: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
}

.pLeft .button {
    width: 100%;
    height: 48px;
    line-height: 48px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    text-transform: none;
}

#closeFilter {
    position: absolute;
    top: 0px;
    right:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.filterTitle{
    font-size: 30px;
    margin-bottom: 30px;
}

.filterCat {
    margin-bottom: 25px;
}

.filterCat span {
    display: block;
    margin-bottom: 8px;
}

/*List*/
.pCenter {
    min-width: 400px;
    width: 400px;
}

.pCenter .fa {
    background-color: #e37222;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 0px;
    border: none;
}

#filterDiv{
    background-color: #e37222;
    color: white;
    height: 70px;
    width: 100%;
    margin-bottom: 42.5px;
}

.menuEle2 {
    margin: 24px 0 24px -16px;
    font-size: 24px;
    font-weight: normal;
    padding: 10px 19px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.menuEle_selected{
    border-left: 3px solid #3070b3;
    padding-left: 16px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/*Project Summary*/
.pRight {
    max-width: 1109.3px;
    padding-left: 42.5px;
    overflow: auto;
}

#readMore {
    float: right;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pRight .button {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** LIST PROJECT**/
.listDiv {
    padding-right: 8px;
    height: 520px;
    overflow: auto;
}

.projCenter {
    min-width: 600px;
    width: 600px;
}

.projCenter .fa {
    background-color: #e37222;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 0px;
    border: none;
}





/**MAIN CIRCLE**/
#mainCircle{
    background: #3070B3;
    width:160px;
    height:160px;
    border-radius:50%;
    z-index: 1000;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid transparent;    
    white-space: normal;
    text-decoration: none;
    font-size: 18px;
}

.carousel-caption {
    position: absolute;
    top: -40px;
    border-bottom: none;
    color: black;
}

.carousel-caption h3 {
    padding: 17.5px 0px;
}

.bg-white {
    background-color: rgba(255,255,255,0.6);
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%;
}

.carousel-indicators{
    position: absolute;
    bottom: -20px;
}

.carousel-inner {
    margin: auto;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}
.carousel-inner .item img {
    min-width: 100%;
    min-height: 100%;
    max-width: inherit;
    height: auto;
}


/**SPORTS**/
#rFooter{
    position: absolute;
    bottom: 10px;
    width: 800px;
    right: 100px;
    height: 62.5px;
    line-height: 60px;
    border-radius: 10px;
    background-color: #e37222;
    color: white;
    text-transform: inherit;
}

#pFooter{
    position: absolute;
    bottom: 10px;
    width: 800px;
    left: 100px;
    height: 62.5px;
    line-height: 60px;
    border-radius: 10px;
    background-color: #e37222;
    color: white;
    text-transform: inherit;
}

.spFeed {
    display: flex;
    left: 0;
    bottom: 67.5px;
    right: 0;
    overflow: hidden;
    top: 0px;
}

.spLeft {
    width: 830px;
}

.spCenter{
    position: absolute;
    right: 0px;
    width: 470px;
    bottom: 35px;
}

.spRight {
    position: absolute;
    right: 0px;
    width: 470px
}

.spTitle{
    font-size: 28px;
    color: black;
    margin-bottom: 17.5px;
}

.spCardList {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-gap: 29px 17px;
}
.spCard {
    width: 150px;
    height: 150px;
    padding: 9px 5px;
    display: block;
    margin: 0px 0px;
    background-color: #f4f4f4;
    border-radius: 5%;
    color: black;
}

.spImgDiv {
    border-radius: 50%;
    width: 115px;
    height: 115px;
    display: block;
    margin: auto;
    background-color: white;
    border: 1.5px solid rgb(48,112,179);
    z-index: 60;
    overflow: hidden;
}

.spImg {
    width: 115px;
    height: 115px;
    padding: 2px;
    background-color: transparent;
}

.spDesc {
    font-weight: bold;
    font-size: 12px;
    margin-top: 6px;
    text-align: center;
}

.spBG, .spBR {
    width: 100%;
    margin: 4.5px 0px;
    height: 80px;
    line-height: 80px;
    border-radius: 10px;
    background-color: #f4f4f4;
    color: black;
}

.spSel, .spSelG, .spSelR {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    background-color: rgba(72, 137, 206,0.7);
    color: white;
}

#spReset {
    position: absolute;
    top: 7.5px;
    left: 1233px;
    height: 33.5px;
    width: 85px;
    line-height: 33.5px;
    text-align: center;
    background-color: rgba(72, 137, 206,0.8);
    font-size: 18px;
    border-radius: 5px;
}

.sSwitch, .gSwitch, .fSwitch {
    position: absolute;
    top: 7.5px;
    min-height: 32.5px;
    height: 30px;
    left: 1092px;
    display: flex;
    background-color: rgba(72, 137, 206,0.3);
     border-radius: 5px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.gSwitch {
    left: inherit;
    right: 0px;
}

.fSwitch {
    left: inherit;
    right: 0px;
}

.or {
    text-align: center;
    line-height: 32.5px;
    margin: 0px 0px 0px 0px;
    width: 65px;
}

.and {
    text-align: center;
    line-height: 32.5px;
    margin: 0px 0px 0px 0px;
    width: 65px;
}

.switchSel {
    background-color: rgb(76, 217, 100);
    border: 1px solid lightgreen;
    margin: 0.2px -1px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    
}

.label-switch input[type="checkbox"]:checked + .checkbox {
    background-color: #4cd964;
}

.label-switch input[type="checkbox"]:checked + .checkbox:after {
    background-color: snow;
}

/**
$('#mainCircle').toggleClass('active');
**/
#mainCircle.active {

        -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
    
  -webkit-animation: neon1 2.2s ease-in-out infinite alternate;
  -moz-animation: neon1 2.2s ease-in-out infinite alternate;
  animation: neon1 2.2s ease-in-out infinite alternate;
}


@-webkit-keyframes neon1 {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
  to {
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #FF1177, 0 0 12px #FF1177, 0 0 16px #FF1177, 0 0 24px #FF1177, 0 0 32px #FF1177;
  }
}


@-moz-keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon1 {
  from {
    box-shadow: 0 0 6px  #ff9800, 0 0 12px #fff, 0 0 18px #fff, 0 0 24px #FF1177, 0 0 36px #FF1177, 0 0 48px #FF1177, 0 0 72px #FF1177, 0 0 96px #FF1177;
  }
  to {
    box-shadow: 0 0 2px  #ff9800, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #FF1177, 0 0 12px #FF1177, 0 0 16px #FF1177, 0 0 24px #FF1177, 0 0 32px #FF1177;
  }
}

/*RESPONSIVE*/

@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}

/*SHADOWS*/
.shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.shadow--24dp {
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}
