/*Technician*/

.tImg {
    width: auto;
    height: 100px;
    background-color: transparent;
    position: relative;
    right: 5px;
    top: 0px;
}

.tImgDiv {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: block;
    margin-left: 12.5px;
    margin-top: 5px;
    margin-bottom: -11.5px;
    background-color: white;
    border: 1.5px solid rgb(48,112,179);
    z-index: 60;
    overflow: hidden;
}

.tInfo{
    position: absolute;
    top: 15px;
    left: 120px;
}

.tStatus{
    margin-bottom: 8px;
}

.cButton button{
    min-width:36px;
    margin-left: 6px;
    line-height: 36px;
    text-align: center;
}

.cButton button i {
    line-height: 36px;
}

.mTool{
    background-color: #343048;
}

/*Component*/

.spCard {
    width: 150px;
    height: 150px;
    padding: 9px 5px;
    display: block;
    margin: 0px 0px;
    border-radius: 5%;
    color: black;
}

.spImgDiv {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: 12.5px;
    margin-top: 12px;
    margin-bottom: -11.5px;
    background-color: white;
    border: 1.5px solid rgb(48,112,179);
    z-index: 60;
    overflow: hidden;
}

.spImg {
    width: auto;
    height: 90px;
    background-color: transparent;
    position: relative;
    right: 10px;
    top: 5px;
}

.spDesc {
    font-weight: bold;
    font-size: 12px;
    margin-top: 6px;
    text-align: center;
}

.cInfo{
    position: absolute;
    top: 10px;
    left: 130px;
}

.spVer{
    position: absolute;
    top: 97px;
    left: 82.5px;
    font-size: 30px;
    color: #263884;
}
.cVerify{
    margin-left: 40px;
    margin-top: 16px;
    margin-bottom: 23px;
}

.cTitle{
    font-size: 20px;
}

.cStatus{
    margin: 20px 0px;
}

//**OLD**//
.page {
 background: #f5f6f7;
}

.navCenter{
    display: table;
    margin: 0 auto;
}

.page-content {
    background-color: #f5f6f7;
}

.cardEdit {
    height: 16vw;
    background-size: cover;
    background-position: center;
}

.footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 150;
}

.blueCard {
    background-color: white;
    color: black;
}

.cardSubtitle {
    padding: 0px 16px;
    padding-bottom: 16px;
}

.cardEdit {
    font-size: 18px;
    height: 64px;
}


.courseType {
    margin: 6px;
    font-size: 5.5vw;
}

.completed {
    color: #2E7D32;
}

.attending {
    color: #4CAF50;
}

.list-block {
    margin: 0px auto 16px auto;
}

form i {
    margin-left: 10px;
    padding: 10px 15px;
}

.toolbar-inner {
    padding: 0px 10px;
}

.toolbar-inner span {
    font-size: 15px;
}

span.item-text {
    font-size: 10px;
}

.caption {
    position: relative;
    bottom: 0px;
    margin: 0px;
}

.progress-bar {
    color: black;
}

.position {
    color: rgb(33, 33, 33);
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 50%;
    display: flex;
}

.position i {
    vertical-align: middle;
    font-size: 26px;
    margin: 0px 3px;
    padding: 0px;
}

.navbar{
    background: #343048;
}
/*.favorited {
    //*background-image: url(http://www.emoticonswallpapers.com/background/nice/nice-background-pattern-164.gif);
    background-size: cover;
    ** //
}

.navProgress {
    position: absolute;
    bottom: 0%;
    height: 8px;
}

.navCaption {
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 20%;
    background-color: white;
}

//*PROGRESS BAR**/

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: black;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-striped .progress-bar,
.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress.active .progress-bar,
.progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
    background-color: #5bc0de;
}

.progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
    background-color: #d9534f;
}

.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

//*CRISPTOPHER'S CSS*//
.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}

.backgroundCards {
    background-color: #e0e0e0;
}

.chip {
    height: 25px;
}

.chip-media {
    height: 20px;
    width: 20px;
}

#rateEnrolled,
#rateDropped {
    padding: 0 0 0 0;
}

.voting-up {
    min-width: 40px;
    left: -20px;
    padding: 10px;
    margin-top: -10px;
}

.voting-down {
    min-width: 40px;
    left: -20px;
    padding: 10px;
    margin-bottom: -15px;
    top: 18px;
}

p.count {
    position: relative;
    top: -43px;
    left: -5px;
}

.count2 {
    top: -35px;
}

.number-size {
    min-width: 40px;
    left: -20px;
    padding: 0px;
    margin: -15px;
}

.commentPadding {
    padding: 5px;
}

.writtenFeedback {
    left: -17px;
}

textarea.font-size {
    font-size: 12px;
}


/*.number-margin {
    margin: -20px;
}*/

.votingNumber {
    text-align: right;
}

.tagButton {
    padding: 10px;
}

;
.border {
    border: 1px, solid, black;
}

.listView {
    margin: 5px;
    height: 15px;
    font-size: 12px;
    padding: 10px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);*/
}

.selected {
    color: white;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.courseTitle {
    font-size: 20px;
}

.tab1 {
    position: fixed;
    height: 44px;
    left: 0px;
    top: 55px;
    width: 33%;
    border-bottom: 5px solid white;
}

.tab2 {
    position: fixed;
    height: 44px;
    left: 33%;
    top: 55px;
    width: 33%;
    /*border-bottom: 5px solid white;*/
}

.tab3 {
    position: fixed;
    height: 44px;
    left: 33%;
    top: 55px;
    width: 33%;
    /*border-bottom: 5px solid white;*/
}

.tab-icons {
    padding-left: 10px;
}

.quality {
    padding-right: 15px;
}

.distance-to-top {
    padding: 0px;
}

#tag1,
a {
    color: black;
}

/*SHADOWS*/
.shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.shadow--24dp {
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}